{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<head>
    <title>Legg til vare</title>
    <style>
        body{
            background: #364F6B;
        }
    </style>
</head>
<body>

    <form action="/add_item/{{ shelf }}&{{ code }}" method="post">
        <input type="submit" value="Legg til vare" style="margin-top: 10%;"><br/>

        <input type="hidden" name="shelf" value="{{shelf}}" /><br/>

        <input type="hidden" name="barcode" value="{{ code }}" maxlength="13"/>
        {% if len <= 0 %}
            <br/><br/>
        <p class="info">Varen er ikke registrert</p>
        <p class="info">Legg til varenavn:</p>
        <input name="name" value="{{name}}" maxlength="30" /><br/><br/>
            {% elif len2 < 13 %}

            <p class="info">Varenavn:</p>
            <input name="name" value="{{name}}" maxlength="40" /><br/><br>
            {% else %}
            <br/>
            <h5 class="info">{{ name }}</h5>
            <input type="hidden" name="name" value="{{name}}" maxlength="30" /><br/>
        {% endif %}
        <p class="info">Antall:</p>
        <input type="number" name="value" autofocus="autofocus" value="" maxlength="10"/><br/>




    </form>

</body>
</html>
{% endblock content %}