{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="../barcode/style.css" />
    <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Barcode</title>
    <script type="text/javascript" src="../barcode/jquery.js"></script>
<script type="text/javascript" src="../barcode/barcode.js"></script>

<script type="text/javascript">

var sound = new Audio("barcode.wav");

$(document).ready(function() {

	barcode.config.start = 0.1;
	barcode.config.end = 0.9;
	barcode.config.video = '#barcodevideo';
	barcode.config.canvas = '#barcodecanvas';
	barcode.config.canvasg = '#barcodecanvasg';
	barcode.setHandler(function(barcode) {
		$('#result').html(barcode);
	});
	barcode.init();

	$('#result').bind('DOMSubtreeModified', function(e) {
		sound.play();
	});

});

</script>

</head>
<body>


    <div id="barcode">
	<video id="barcodevideo" autoplay></video>
	<canvas id="barcodecanvasg" ></canvas>
    </div>
    <canvas id="barcodecanvas" ></canvas>
    <div id="result"></div>

    <form action="/temp" method="post">
        <input type="submit" value="Neste" hidden>
        <a href="/counting/{{ shelf }}">
            <h1 style="margin-top: 10%;" class="h1_button">{{ shelf.split(".")[0].replace("_", " ").upper() }}</h1>
        </a>
        <input type="hidden" name="shelf" value="{{shelf.split('.')[0].replace('_', ' ').upper()}}"/>
        <br/><br/>
        <p class="info">Strekkode:</p>
        <input type="number" name="code" autofocus="autofocus" maxlength="13"/><br/>

    </form>

</body>
</html>
{% endblock content %}