{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<head>
    <title>Telling</title>
    <style>
        body{
            background: #364F6B;
        }
    </style>
</head>
<body>
<a href={{url_for("new_shelf")}} >
    <h1 class="h1_button" style="margin-top: 5%;">
        Ny hylle
    </h1>
</a>
{% if len > 0 %}
    <h1 style="margin-top: 10%;" class="info">Oversikt:</h1>
{% endif %}
    {%for i in range(0, len)%}


<a href=/counting/{{shelves[i]}}>
    <h1 class="h1_button">
        {{shelves[i].split(".")[0].replace("_", " ").upper()}}
    </h1>
</a>

{%endfor%}

<div class="bottom">
    <a href={{url_for("delete_shelf")}}>
        <h1 id="bottom" class="h1_button" style="border-top: 2px solid #F5F5F5">
            Fjern hylle
        </h1>
    </a>
</div>
</div>
</body>
</html>
{%  endblock content %}