{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<head>
    <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Fjern hylle</title>
</head>
<body>
<h1 class="info">Fjern hylle</h1>
<br/>
<form action="/deleting_shelf" method="post">
    <input placeholder="Hylle 1" name=hylle value="" autofocus="autofocus"><br/><br/>
    <input type="submit" name=hylle value="Bekreft" hidden>

</form><br/>

<p class="info">Skriv inn hyllenavn for å bekrefte</p>

</body>
</html>
{% endblock content %}