{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<head>
    <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Oversikt</title>
</head>
<body>
<h1 style="margin-top: 5%;" class="info">Slett alt</h1>
<form action="/deleting_every_shelf" method="post">
    <input placeholder="byggmix" name=hylle value="" autofocus="autofocus"><br/><br/>
    <input type="submit" name=hylle value="Bekreft">

</form>
<p class="info">Skriv "byggmix" for å bekrefte</p>

</body>
</html>
{% endblock content %}