{%  extends "layout.html" %}
{%  block content %}

    <head>
        <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Hjem</title>
    </head>
<body class="body">

    <a href={{url_for("counting")}} >
        <h1 class="h1_button" style="margin-top: 5%;">
            Telling
        </h1>
    </a>
    <a href={{url_for("overview")}} >
        <h1 class="h1_button">
            Oversikt
        </h1>
    </a>

    <p id="test"></p>

<div class="bottom">
    <a href={{url_for("guide")}}>
        <h1 id="bottom" class="h1_button" style="border-top: 2px solid #F5F5F5">
            Hjelp
        </h1>
    </a>
</div>

</body >
{%  endblock content %}