{%  extends "layout.html" %}
{%  block content %}

    <head>
        <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Hjem</title>
    </head>
<body class="body">

    <a href={{url_for("counting")}} >
        <h1 class="h1_button" style="margin-top: 10%;">
            Telling
        </h1>
    </a>
    <a href={{url_for("overview")}} >
        <h1 class="h1_button">
            Oversikt
        </h1>
    </a>

    <p id="test"></p>


</body >
{%  endblock content %}