{%  extends "layout.html" %}
{%  block content %}
<html lang="en">
<head>
    <style>
        body{
            background: #364F6B;
        }
    </style>
    <title>Oversikt</title>
</head>
<body>
<h1 style="margin-top: 5%;" class="info">{{ shelf.split(".")[0].replace("_", " ").upper() }}</h1>
<p class="info" style='text-align: center; font-size: 1.5em;'>Antall varer: {{ len }}</p>
<br/>

<a href="/barcode/{{shelf}}" >
    <h1 class="h1_button">
        Legg til flere varer
    </h1>
</a>

<br/><br/><br/>
    {%for i in range(0, len) %}
<div class="item_container">
    <h4 class="info" style='text-align: center; font-size: 1.5em;'>{{file[i][2]}}</h4>
    <div style='text-align: center;'>
        {% if file[i][1]|length == 13 %}
  <img alt='Barcode Generator TEC-IT'
       src='https://barcode.tec-it.com/barcode.ashx?data={{file[i][1]}}&code=EAN13'/>
    <p class="info" style='text-align: center; font-size: 1em;'>EAN: {{file[i][1]}}</p>
        {% else %}
        <p class="info" style='text-align: center; font-size: 2em;'>EAN: {{file[i][1]}}</p>
    {% endif %}
        </div>
    <p class="info" style='text-align: center; font-size: 1.5em;'>Antall: {{file[i][3]}}</p>
        <form action="/remove_item" name="{{file[i][0]}}" method="post">
    <input type="submit" name="{{file[i][0]}}" value="Slett vare">
          <input type="hidden" name="{{shelf}}" value="{{file[i][0]}}">

</form>
</div>
{%endfor%}
<form action="/move_done" method="post">
    <input type="submit" name={{ shelf }} value="Ferdig">

</form>

<p class="info" >
    Trykker du "Ferdig" har du ikke lenger<br/>
    mulighet til å legge til flere varer
</p>

</body>
</html>
{% endblock content %}