{%  extends "layout.html" %}
{%  block content %}
<!DOCTYPE html>

<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<head>
    <title>Oversikt</title>
</head>
<body>

    <h1>Oversikt:</h1>
    {% if len > 0 %}
    {%for i in range(0, len)%}

    <p></p>
    <form action=/overview/{{shelves[i]}}>
    <input type="submit" value="{{shelves[i].split(".")[0].replace("_", " ").upper()}}" />
    </form>

{%endfor%}
{% else %}
        <p>Ingen ferdige hyller!</p>
        <img src="https://i.imgur.com/0MwxIWU.jpg" alt="Ordin" style="width: 150px; min-width: 320px;">
{% endif %}
</body>
</html>
{%  endblock content %}
