{%  extends "layout.html" %}
{%  block content %}

<html lang="en">
<head>
    <title>Oversikt</title>
    <style>
        body{
            background: #364F6B;
        }
    </style>
</head>
<body>

    <h1 style="margin-top: 10%;" class="info">Oversikt:</h1>
    {% if len > 0 %}
    {%for i in range(0, len)%}

    <a href="/overview/{{shelves[i]}}" >
        <h1 class="h1_button">
            {{shelves[i].split('.')[0].replace('_', ' ').upper()}}
        </h1>
    </a>

{%endfor%}
{% else %}
        <p class="info">Ingen nye hyller!</p>
        <img src="https://i.imgur.com/0MwxIWU.jpg" alt="Ordin" style="width: 80%; min-width: 320px; margin-bottom: 5%;">
{% endif %}
</body>
</html>
{%  endblock content %}
