{%  extends "layout.html" %}
{%  block content %}

<html lang="en">
<head>
    <title>Oversikt</title>
    <style>
        body{
            background: #364F6B;
        }
    </style>
</head>
<body>
<h1 style="margin-top: 5%; font-size: 2em" class="info">{{ shelf.split(".")[0].replace("_", " ").upper()}}</h1>
<p class="info" style='text-align: center; font-size: 1.5em;'>Antall varer: {{ len }}</p>
<br/>
    {%for i in range(0, len) %}
<div class="item_container">
    <h5 class="info" style='text-align: center; font-size: 1.5em;'>{{file[i][2]}}</h5>
    <div style='text-align: center;'>
        {% if file[i][1]|length == 13 %}
  <img alt='Barcode Generator TEC-IT'
       src='https://barcode.tec-it.com/barcode.ashx?data={{file[i][1]}}&code=EAN13'/>
        <p class="info" style='text-align: center; font-size: 1em;'>EAN: {{file[i][1]}}</p>
        {% else %}
            <p class="info" style='text-align: center; font-size: 2em;'>EAN: {{file[i][1]}}</p>
        {% endif %}
</div>

    <p class="info" style='text-align: center; font-size: 1.5em;'>Antall: {{file[i][3]}}</p>
        <form action="/remove_item" name="{{file[i][0]}}" method="post">

</form>
</div>
{%endfor%}

<form action="/move_ferdig" method="post">
    <input type="submit" name={{ shelf }} value="Ferdig" style="margin-bottom: 5%;">

</form>
</body>
</html>
{%  endblock content %}